<div class="profileBtns">
<a class="btn btn-primary btn-lg" href="/posts/create">Create a new Post</a>
<!--<h4>Get your recipe today:</h4>-->
  <a class="btn btn-primary btn-lg apiBtn" href="/api/random-recipe">Get your recipe today</a>
</div>


<h2 class="titleProfile">Latest Posts</h2>

 {{#each allPosts}}
<div class="elementsProfile">

  <div class="resize">
        <img src="{{this.imageUrl}}" />
  </div>
  <div class="tiltePostDiv">
      <h2> 
        <a class="titlePosts" href="/posts/single-post/{{this._id}}"> {{this.title}} </a>
      </h2>
      <h4>{{this.history}}</h4>
  </div>
</div>
  {{/each}}

  


