
  

  <form action="/auth/signup" method="POST">
  <div class="signupform">
    <h2 class="h2Signup">Join our Community</h2>
    <br>
    <label>
      Username
      <input type="text" name="username" placeholder="Username" />
    </label>

    <label>
      E-mail
      <input type="text" name="email" placeholder="E-mail" />
    </label>

    <label>
      Password
      <input type="password" name="password" placeholder="Password" />
    </label>

    <button class="btn btn-light btn-lg" type="submit">Create account</button>

    {{! error message will be added here }}
    </div>
  </form>