
  <form action="/auth/signup" method="POST">
  <div class="signupform col-sm-12 col-md-6">
    <h2 class="h2Signup">Join our Community</h2>
    <br>
      <div class="col-md-12">
      <label> username </label>
      <input type="text" name="username" placeholder="Username" />
    </div>
    
  <div class="col-md-12">
      <label> email</label>
    <input type="text" name="email" placeholder="E-mail" />
  </div>
    
  <div class="col-md-12">
    <label> password</label>
    <input type="password" name="password" placeholder="Password" />
  </div>
    <button class="btn btn-primary btn-lg btn-full-width" type="submit">Create account</button>

    {{! error message will be added here }}
    </div>
  </form>