
/*Index*/
.title{
font-family: 'Courgette', cursive;
font-size: 300px;
text-align: center;
color: rgb(50, 97, 91);
margin-top: 10%;
}

.indexElements{
display: flex;
align-items: center;
}
#form{
margin-top: 2%;
}
.logo{
  height: 60px;
  width: auto;
  margin-left: 50px;
}
.logoDiv{
  display: flex;
  align-items: center;
  font-family: 'Courgette', cursive;
  width: 50%;
}
.frontElements{
  width: 100vw;
  justify-content: space-evenly;
  flex-direction: row;
}
h2{
  margin-top: 30px;
}

/*Sign up Log in*/
.signupform{
  display: block;
  margin: 0 auto;
  flex-direction: column;
  align-items:center;
  padding: 0 15px;
  height: 80vh;
  width: 40vw;
  border: 2px solid rgb(201, 199, 199);
}
.h2Signup{
  font-size: 60px;
  margin-top: 35px;
  text-align: center;
  margin-bottom: 20px;
}
input[type=text], input[type=password]{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.btn-primary{
  background: #77c1be;
  border-color: #77c1be;
  margin-bottom: 40px;
}

.btn-primary:hover{
  background: #c3e2e1;
  border-color: #c3e2e1;
}

.btn-full-width{
  margin-top: 20px;
  width:100%;
}
.signupbtn {
  background-color:#c3e2e1;
  border-color: #c3e2e1;
}
.signupbtn:hover {
  background-color:#77c1be;
}

.signUpContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top: 2px solid rgb(201, 199, 199);
  padding-top: 50px;
 }
 /*Profile*/
a{
  text-decoration: none;
  color: black;
  
}
.btnCreatePost{
  color: white;
  width: 150px;
}
.elementsProfile{
  border: 2px solid rgb(201, 199, 199);
  width: 50%;
  display: block;
  margin: 0 auto;
  flex-direction: column;
  align-items:center;
  padding: 0 15px;
}
.titleProfile{
  text-align: center;
  font-size: 60px;
}

/*Create post form */

.post-create-description{
  height: 200px;
}

.post-container{
  display: block;
  margin: 0 auto;
  flex-direction: column;
  align-items:center;
  padding: 0 15px;
}



@media only screen 
   and (max-width: 600px){
    .h2Signup{
      font-size: 36px;
    }
   }

   /* Small devices (landscape phones, 576px and up)*/
   @media (min-width: 576px) { }
   
   
   /* Medium devices (tablets, 768px and up)*/
   @media (min-width: 768px) { }
   
   /* Large devices (desktops, 992px and up)*/
   @media (min-width: 992px) { }
   
   /* X-Large devices (large desktops, 1200px and up)*/
   @media (min-width: 1200px) { }
   
   /* XX-Large devices (larger desktops, 1400px and up)*/
   @media (min-width: 1400px){} 