body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
/*Index*/
.title{
font-family: 'Courgette', cursive;
font-size: 200px;
}
.indexBtnDiv{
  width:600px;
  display: flex;
  justify-content: space-between;
}
a{
  text-decoration: none;
  color: rgb(10, 11, 11);
}
.indexElements{
display: flex;
flex-direction: column;
align-items: center;
}
.indexBtn{
  width: 200px;
  height: 50px;
  background-color: rgb(79, 128, 129);
  border-radius: 15px;
}


