
/*Index*/
.title{
font-family: 'Courgette', cursive;
font-size: 300px;
text-align: center;
color: rgb(50, 97, 91);
margin-top: 10%;
}

.indexElements{
display: flex;
align-items: center;
}
/*Nav Bar*/
.navbar{
  height: 100px;
  display: flex;

}
.navDiv{
  width: 120px;
  display: flex;
  justify-content: space-between;
  margin-right: 100px;
}
.logo{
  height: 80px;
  width: auto;
  margin-left: 50px;
}

/*Sign up Log in*/
.signupform{
  display: block;
  margin: 0 auto;
  flex-direction: column;
  align-items:center;
  padding: 0 15px;
}
.btnSignup{
  width: 200px;

}
.h2Signup{
  font-size: 60px;
  margin-top: 35px;
}
input[type=text], input[type=password]{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.btn-primary{
  background: #90afae;
  border-color: #90afae;
}

.btn-primary:hover{
  background: #c3e2e1;
  border-color: #c3e2e1;
}

.btn-full-width{
  margin-top: 10px;
  width:100%;
}

/*Create post form */

.post-create-description{
  height: 120px;
}

.post-container{
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
}

#output{
  max-width: 100%;
  height: auto;
}

@media only screen 
   and (max-width: 600px){
    .h2Signup{
      font-size: 36px;
    }
   }

   /* Small devices (landscape phones, 576px and up)*/
   @media (min-width: 576px) { }
   
   
   /* Medium devices (tablets, 768px and up)*/
   @media (min-width: 768px) { }
   
   /* Large devices (desktops, 992px and up)*/
   @media (min-width: 992px) { }
   
   /* X-Large devices (large desktops, 1200px and up)*/
   @media (min-width: 1200px) { }
   
   /* XX-Large devices (larger desktops, 1400px and up)*/
   @media (min-width: 1400px){} 