
<form action="/posts/create" method="POST">
<div class="signupform col-sm-12 col-md-6">
 <h3 class="h2Signup">Create a post</h3>

 <div class="col-md-12">
    <label><strong>Title:</strong></label>
    <input type="text" name="title"</>
    </div>

  <img id="output">    

   <div>
      <label for=""><strong>Add Image:</strong> </label>
      <br>
  <input type="file">
  </div>
<br>


  <div class="col-md-12">
      <label for=""><strong>Description & Recipe:</strong></label>
    <input type="text" name="history" class="post-create-description">
  </div>
  
  <button class="btn btn-primary btn-lg btn-full-width" type="submit">Create a Post</button>

  
</div>
 
</form>







 
   