<h1>Create a new post</h1>
<form action="/posts/create" method="POST">
  <label for="">Title</label>
  <input type="text" name="title" id="" />

  <label for="">Caption:</label>
  <textarea name="history" id="" cols="30" rows="10"></textarea>

  <label for="">Add image</label>
  <input type="text" name="imageUrl" id="" />
  <button type="submit">UP</button>
</form>