<div class="indexElements"><h1 class="title">Vegginers</h1>

<div class="indexBtnDiv">
<a class="indexBtn" href="/auth/login">Log in</a>
<br>
<a class="indexBtn" href="/auth/signup">Sign up</a>
</div>
</div>